/* todas versões */

/* typical device breakpoints
pequenas telas: até 600px
celular: de 600px até 768px
tablet: de 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    #tablet { display: none; }
    #phone { display: none; }
    #pc { display: none; }
    #tv { display: none; }
    #print { display: block; }
}

@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    #tablet { display: block; }
    #phone{
        display: none;
    }
    
}

@media screen and (min-width:992px) and (max-width:1400px) {
   body{
    background-image: url(../imagens/back-pc.jpg);
   } 
    #tablet { display: none; }
    #phone { display: none; }
    #pc { display: block; }

}

@media screen and (min-width: 1401px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #tablet { display: none; }
    #phone { display: none; }
    #pc { display: none; }
    #tv { display: block; }
}